@charset'UTF-8';
body {
	font-family: 'Roboto', sans-serif;
	background: url('../img/bg.png') #eaeaea repeat;
	color: #000;
	text-align: center;
}
#wrapper-page {
	max-width: 1280px;
	margin: 0 auto;
}
a {
	color: #b7e5ff;
	text-decoration: underline;
	-moz-transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
a:hover {
	color: #1B75A6 !important;
}
a:visited {
	color: inherit;
}
h1, h2 {
	font-weight: 400;
	color: #333;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	color: inherit;
}
h1 {
	font-size: 3em;
}
h2 {
	font-weight: 700;
	padding: 0.6em 0;
}
em, i {
	font-style: italic;
}

/*One line space b/w paragraphs*/
p {
	margin-bottom: 1em;
	line-height: 1.3em;
}

.underline {
	text-decoration: underline !important;
}
.strong {
	font-weight: 700 !important;
}

.warning {
	color: #e00e0e;
}

.page-section {
	padding: 3em 0;
}

#page-wrapper {
	max-height: 1280px;
}

#tools {
	padding-bottom: 80px;
}

/**
 * BUTTONS
 */
/* Buttons */

.button {
	position: relative;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	border: 0;
	cursor: pointer;
	padding: 0.5em 0.8em;
	text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	background: #61b8db;
	background-image: -moz-linear-gradient(top, rgba(97, 184, 219, 0), rgba(48, 141, 196, 1));
	background-image: -webkit-linear-gradient(top, rgba(97, 184, 219, 0), rgba(48, 141, 196, 1));
	background-image: -o-linear-gradient(top, rgba(97, 184, 219, 0), rgba(48, 141, 196, 1));
	background-image: -ms-linear-gradient(top, rgba(97, 184, 219, 0), rgba(48, 141, 196, 1));
	background-image: linear-gradient(top, rgba(97, 184, 219, 0), rgba(48, 141, 196, 1));
	box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
.button:hover {
	background-color: #76cdf0;
	color: #fff !important;
}
.button:active {
	background-image: -moz-linear-gradient(top, rgba(48, 141, 196, 1), rgba(77, 164, 199, 0));
	background-image: -webkit-linear-gradient(top, rgba(48, 141, 196, 1), rgba(77, 164, 199, 0));
	background-image: -o-linear-gradient(top, rgba(48, 141, 196, 1), rgba(77, 164, 199, 0));
	background-image: -ms-linear-gradient(top, rgba(48, 141, 196, 1), rgba(77, 164, 199, 0));
	background-image: linear-gradient(top, rgba(48, 141, 196, 1), rgba(77, 164, 199, 0));
	box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px -2px 1px 0px rgba(255, 255, 255, 0.75);
	top: 1px;
}
.button-alt {
	background-color: #393939;
	background-image: -moz-linear-gradient(top, rgba(50, 50, 50, 0), rgba(45, 45, 45, 1));
	background-image: -webkit-linear-gradient(top, rgba(50, 50, 50, 0), rgba(45, 45, 45, 1));
	background-image: -o-linear-gradient(top, rgba(50, 50, 50, 0), rgba(45, 45, 45, 1));
	background-image: -ms-linear-gradient(top, rgba(50, 50, 50, 0), rgba(45, 45, 45, 1));
	background-image: linear-gradient(top, rgba(50, 50, 50, 0), rgba(45, 45, 45, 1));
	box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.2);
}
.button-alt:hover {
	background-color: #444;
}
.button-alt:active {
	background-image: -moz-linear-gradient(top, rgba(45, 45, 45, 1), rgba(50, 50, 50, 0));
	background-image: -webkit-linear-gradient(top, rgba(45, 45, 45, 1), rgba(50, 50, 50, 0));
	background-image: -o-linear-gradient(top, rgba(45, 45, 45, 1), rgba(50, 50, 50, 0));
	background-image: -ms-linear-gradient(top, rgba(45, 45, 45, 1), rgba(50, 50, 50, 0));
	background-image: linear-gradient(top, rgba(45, 45, 45, 1), rgba(50, 50, 50, 0));
	box-shadow: inset 0px 0px 0px 1px #242424, inset 0px -2px 1px 0px rgba(255, 255, 255, 0.2);
}

/**
 * CONTENT/TOOLS
 */
#tools article {
	min-width: 150px;
	max-width: 200px;
	
	background-color: rgba(255, 255, 255, 0.6);
	display: inline-block;
	padding: 0.5em;
	margin: 1em;
	border: 1px solid #ccc;
	
	-moz-transition: box-shadow .2s ease-in-out;
	-webkit-transition: box-shadow .2s ease-in-out;
	-o-transition: box-shadow .2s ease-in-out;
	-ms-transition: box-shadow .2s ease-in-out;
	transition: box-shadow .2s ease-in-out, background-color .2s ease-in-out;	
}
.tools-description p {
	line-height: 1.5em;
	font-size: 0.8em;
}

.tools-image img {
	max-width: 100%;
	max-height: auto;
}
/*on hover*/
#tools article:hover {
	background-color: rgba(255, 255, 255, 1.0);
	
	-webkit-box-shadow: 5px 5px 2px 0px #DFDACF;
	-moz-box-shadow: 5px 5px 2px 0px #DFDACF;
	box-shadow: 5px 5px 2px 0px #cbc1ab;
}

/**
 * FOOTER
 */
footer {
	font-weight: 700;
	line-height: 1.2em;
}